table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #98FB98; 
    width: 90%;
}



td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #111;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    font-size: 24px;
    background-color: #4CAF50;
}


.center{
	margin: auto;
    width: 60%;
    border: 2px solid green;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
}

.button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.button1 {
	font-size: 24px;
	padding: 10px 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}